@model IEnumerable<MVCCochesCosmosDB.Models.Vehiculo>

@{
    ViewData["Title"] = "ListCoches";
}

<h1>ListCoches</h1>

<p>
    <a asp-action="InsertarVehiculo">Create Vehiculo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VMaxima)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VMaxima)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditVehiculo", new {  id=item.Id }) |
                @Html.ActionLink("Details", "DetallesCoche", new {  id=item.Id  }) |
                @Html.ActionLink("Delete", "DeleteVehiculo", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
