@model List<Empleado>
<h1>Empleados Linq</h1>
<hr />
@Html.ActionLink("Volver", "GetDepartamentos", "Home")
<hr />
<table class="table table-responsive-sm">
    <thead style="background-color:blueviolet;color:white">
        <tr>
            <td>Apellido</td>
            <td>Nº Empleado</td>
            <td>Salario</td>
            <td>Oficio</td>
            <td>Departamento</td>
        </tr>
    </thead>
    <tbody style="background-color:lavender">
        @foreach (Empleado emp in Model)
        {
            <tr>
                <td>@emp.Apellido</td>
                <td>@emp.IdEmpleado</td>
                <td>@emp.Salario€</td>
                <td>@emp.Oficio</td>
                <td>@emp.Departamento</td>
                
            </tr>
        }
    </tbody>
</table>