@model IEnumerable<MvcCoreNuevo.Models.VistaDept>
@{ 
    int numeropagina = 1;
    int numeroregistros = ViewBag.Registros;
}
<p>
    <a asp-action="Create">Create New</a>
</p>
@*@Html.Raw(ViewBag.Paginas)*@
<div>
    @for (int i = 1; i < numeroregistros; i += 2)
    {
        <a href="PaginarVistaDeptGrupo?posicion=@i">@numeropagina |</a>
         numeropagina++;
        
    }

</div>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Imagen)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
