@model IEnumerable<MVCCacheRedis.Models.Producto>

@{
    ViewData["Title"] = "Favoritos";
}

<h1>Favoritos</h1>

<hr/>
@if (Model != null) { 
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    <img style="width:100px;height:100px" src="@Html.DisplayFor(modelItem => item.Imagen)" />
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id })

                </td>
            </tr>
        }
    </tbody>
</table>
}
