@model IEnumerable<MvcCoreNuevo.Models.Departamento>

@{
    int numeropagina = 1;
    int numeroregistros = ViewBag.Registros;
}
<style>
    .list-group-horizontal .list-group-item {
        display: inline-block;
    }

    .list-group-horizontal .list-group-item {
        margin-bottom: 0;
        margin-left: -4px;
        margin-right: 0;
        border-right-width: 0;
    }

        .list-group-horizontal .list-group-item:first-child {
            border-top-right-radius: 0;
            border-bottom-left-radius: 4px;
        }

        .list-group-horizontal .list-group-item:last-child {
            border-top-right-radius: 4px;
            border-bottom-left-radius: 0;
            border-right-width: 1px;
        }
</style>
<h1>PaginarGrupoDeptSP</h1>
<div>
    <ul class="list-groupg list-group-horizontal">
        @for (int i = 1; i < numeroregistros; i += 2)
        {
        <li class="list-group-item">
            <a asp-action="PaginarGrupoDeptSP" 
               asp-controller="Departamentos"
              asp-route-posicion ="@i">@numeropagina</a>
            
        </li>
            numeropagina++;
        }
    </ul>
   

</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Imagen)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
